@model IEnumerable<VisitorRegistration_Models.Registration>

@using VisitorRegistration.MVC.Helpers;
@using VisitorRegistration.MVC.Models;
@using X.PagedList;

@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Manage visitors"];
}

<div class="container">
    <h2 class="pb-2">
        @ViewData["Title"]
    </h2>
    <p>
        @SharedLocalizer["Below is displayed a list of visitors currently in the building."]
    </p>
    <partial name="_StatusMessage" model="@TempData["StatusMessage"]" />
</div>

<div class="bg-light mb-4">
    <div class="container">
        <div class="btn-toolbar py-3" role="toolbar" aria-label="Toolbar with button groups">
            <form method="get" asp-action="Index" class="input-group w-50">
                <input class="form-control" type="search" name="q" value="@ViewData["q"]" placeholder="@SharedLocalizer["Search"]" aria-label="@SharedLocalizer["Search"]">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit" aria-label="Go"><i class="bi bi-search small"></i></button>
                </div>
            </form>
            @if (ViewData["q"] != null)
            {
                <div class="input-group">
                    <a class="btn btn-link text-secondary text-decoration-none bi bi-x-circle-fill" asp-action="Index">@SharedLocalizer["Clear search"]</a>
                </div>
            }
            <div class="btn-group ml-auto">
                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @SharedLocalizer["With selected"] <span id="js-selection-counter" class="badge badge-dark"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <button onclick="$('#btnDelete').click()" class="dropdown-item btn btn-danger text-danger" type="button">@SharedLocalizer["Delete"]</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form method="post" asp-action="Index">
        <table class="table @(Model.Any() ? "table-hover js-table-check" : "")">
            <thead>
                <tr>
                    <th height="1" class="fit px-0">
                        <label class="d-block px-2 mb-0 text-center">
                            <input type="checkbox" class="align-middle">
                        </label>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeginDate)
                    </th>
                    <th>
                        Visiting company
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee)
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td height="1" class="fit px-0">
                                <label class="d-block h-100 px-2 mb-0 text-center">
                                    <input type="checkbox" name="checkedIds" value="@item.Id" class="align-middle">
                                </label>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BeginDate)
                                <small>
                                    (@item.BeginDate.TimeAgo())
                                </small>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.Company.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Employee.FullName)
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="text-center py-5">
                            @if (ViewData["q"] != null)
                            {
                                <em>@SharedLocalizer["Search returned no results."]</em>
                            }
                            else
                            {
                                <em>@SharedLocalizer["There are no visitors in the building at the moment."]</em>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="noscript-visible">
            <button type="submit" name="button" class="btn-secondary text-danger" id="btnDelete" value="delete">Delete</button>
        </div>
    </form>
</div>

<div class="bg-light my-4">
    <div class="container py-3">
        @await Html.PartialAsync("_PaginationPartial", new PaginationViewModel
        {
            List = (IPagedList)Model,
            //GeneratePageUrl = page => Url.Action("Index", new { page = page, q = ViewData["q"] })
            GeneratePageUrl = page => Url.Action("Index", @Context.GetQueryParameters().WithRoute("page", page))
        })
    </div>
</div>
